html {
  background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
  font-family: helvetica;
  background-size: cover;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  height: 30rem;
  width: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  padding: 2px;
}

.clock-face {
  position: relative;
  height: 100%;
  width: 100%;
  transform: translateY(-3px);
}

.hand {
  background: black;
  height: 6px;
  width: 50%;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
}
